server {
	server_name www.wikdict.com;
	listen [::]:443 ssl ipv6only=on; # managed by Certbot
	listen 443 ssl; # managed by Certbot

	root /home/karl/wikdict-prod;

	location /static {
	}

	location / {
		include uwsgi_params;
		uwsgi_pass unix:/tmp/wikdict.sock;
	}

	ssl_certificate /etc/letsencrypt/live/www.wikdict.com/fullchain.pem; # managed by Certbot
	ssl_certificate_key /etc/letsencrypt/live/www.wikdict.com/privkey.pem; # managed by Certbot
	include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
	ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

# redirect to HTTPS
server {
	server_name www.wikdict.com;
	listen 80;
	listen [::]:80;

	if ($host = www.wikdict.com) {
		return 301 https://$host$request_uri;
	} # managed by Certbot

	return 404; # managed by Certbot
}
