<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!--link rel="icon" href="/favicon.ico"-->

        <title>{{ app_name }}</title>

        <!-- CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!--link rel="stylesheet" href="/css/main.css"-->
        <style>
        </style>
    </head>
	<body>
        <div class="container main">
            <!-- flashed messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flashes">
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category.replace('error', 'danger').replace('message', 'info') }} alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span></button>

                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <!-- main content -->
            {% block main %}
            {% endblock %}

            <hr>

            <!--footer>
                <p>&copy; Company 2014</p>
            </footer-->
        </div><!-- /.container -->

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script type="text/javascript">
        // <![CDATA[
            {% block script %}
            {% endblock %}
        // ]]>
        </script>
	</body>
</html>
