{% extends 'base.html' %}

{% block title -%}
	WikDict{% if query %} &mdash; {{ query }}{% endif %}
{%- endblock %}

{% block css %}
	#results, #results table {
		margin: 2em 0
	}

	@media (min-height: 500px) {
		.main-page .search-block {
			margin: 85px 10px 95px 10px;
		}
	}
	.main-page .search-form {
		text-align: center;
		margin: 30px 0;
	}
	.main-page .search-block h2 {
		text-align: center;
	}
	.main-page {
		margin: 30px 0;
	}
	.translation a {
		color: black;
	}

	/* keep form inline on small viewports */
	.form-inline .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}

	.main-page > .row {
		margin-top: 15px;
	}
	.lang-pair {
		color: black;
		text-decoration: none;
		text-align: center;
		padding: 20px 5px;
		white-space: nowrap;
		overflow: none;
	}
	.lang-pair:hover {
		cursor: pointer;
		border-color: black;
	}
	.lang-pair .name {
		font-weight: bold;
	}
	.lang-select {
		margin: 6px 0;
	}
	#add-search-provider-block {
		display: none;
	}
	.use-notice {
        font-family: 'Parisienne', cursive;

		font-size: 36px;
		margin-top: 15px;
	}

	.gloss {
		font-size: 12px;
		padding-left: 25px;
		padding-top: 5px;
	}

	#results table th {
		width: 50%
	}


.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}

.tt-hint {
    color: #999 !important;
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 100% !important;
  margin-top: 4px !important;
  padding: 4px 0 !important;
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  -webkit-border-radius: 4px !important;
     -moz-border-radius: 4px !important;
          border-radius: 4px !important;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2) !important;
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2) !important;
          box-shadow: 0 5px 10px rgba(0,0,0,.2) !important;
}

.tt-suggestion {
  padding: 3px 20px !important;
  line-height: 24px !important;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff !important;
  background-color: #0097cf !important;

}

.dropdown-menu {
    width: 100% !important;
}

.tt-suggestion p {
  margin: 0 !important;
}
{% endblock %}


{% block script %}
	$(function() {
		// search provider
		if (window.external && ("AddSearchProvider" in window.external)) {
			$('#add-search-provider-block').show();
			$('#add-search-provider').click(function () {
				window.external.AddSearchProvider('http://www.wikdict.com/opensearch/{{from_lang}}-{{to_lang}}');
			});
		}

		// language selection
		$('.lang-select').change(function () {
			window.location = '/' + this.value + '/';
		})

		// typeahead
        var substringMatcher = function(strs) {
            var loaded_prefix;

            function matches(q) {
                return $.grep(strs, function(x) {
                    return x.toLowerCase().startsWith(q.toLowerCase());
                });
            }

            return function findMatches(q, cb, cb_async) {
                var prefix = q.slice(0, 3);
                if (loaded_prefix != prefix) {
                    strs = [];
                    $.ajax('http://storage.googleapis.com/wikdict-cdn/typeahead/{{from_lang}}/' + encodeURI(encodeURI(prefix.toLowerCase())) + '.txt', {
                        dataType: 'text',
                        success: function (data) {
                            strs = data.split('\n');
                            var m = matches(q);
                            cb_async(m);
                            loaded_prefix = prefix;
                        }
                    });
                }

                cb(matches(q));
            };
        };

        $('.typeahead').typeahead({
          hint: true,
          highlight: true,
          minLength: 3
        },
        {
          source: substringMatcher([]),
		  limit: 5
        });
        // hide suggestions until user types
        setTimeout(function () {$('.typeahead').typeahead('close')}, 0);
	})
{% endblock %}


{% block css_links %}
    <link href='https://fonts.googleapis.com/css?family=Parisienne&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
{% endblock %}

{% block head %}
	<link rel="search"
		type="application/opensearchdescription+xml" 
		href="/opensearch/{{from_lang}}-{{to_lang}}"
		title="WikDict {{from_lang}}-{{to_lang}} Search" />
    <!--script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.jquery.min.js"></script-->
    <script src="{{ url_for('static', filename='js/typeahead.jquery.min.js') }}"></script>

    <!-- hellotraffic view tracking -->
    <script src="https://inter.rtb-cdn.net/vt.js"></script>
	{% if query and (results[0] or results[1]) %}
        <!-- hellotraffic conversion tracking -->
        <script src="https://inter.rtb-cdn.net/ct.js"></script>
	{% endif %}

	<!-- robotdetect tracking-->
    <script type="text/javascript">
        try{!function(t,e,r){var n=1*new Date,o=e.createElement("script");o.type="text/javascript",o.async=!0,o.src=("https:"==e.location.protocol?"https://":"http://")+"rd.rtb-cdn.net/a/WyJhZHNwZXJ0IiwidGVzdDIiXQ.ileEueZ5mzT7CeBl7At2jLSvwtE/c.js?dt="+n+"&ref="+r(e.referrer)+"&loc="+r(e.location);var c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(o,c)}(window,document,encodeURIComponent)}finally{}
    </script>
{% endblock %}

{% macro optional_link(url) %}
	{%- if url -%}
		<a href="{{url}}">{{ caller() }}</a>
	{%- else -%}
        {{ caller() }}
	{%- endif -%}
{% endmacro %}

{% macro show_word(vocable, lang, part_of_speech, sense_list=None, lexentry=None) %}
    {% if lexentry %}
        {% set voc = entry_details(lexentry, lang) %}
    {% else %}
        {% set voc = vocable_details(vocable, lang, part_of_speech or None) %}
    {% endif %}
    <span class="translation">
		{% call optional_link(voc.wiktionary_url) -%}
			{{ voc.display }}
			{%- if voc.display_addition %}
				({{ voc.display_addition }})
			{%- endif -%}
		{%- endcall -%}
        <span class="text-muted">
            {% if voc.gender %}
                <span class="gender">{{ '{' + voc.gender[0] + '}' }}</span>
            {% endif %}
            {% if voc.pronuns %}
                <span class="pronun">{{ voc.pronuns | join(', ') }}</span>
            {% endif %}
        </span>
	</span>
    {% if sense_list %}
        <div class="text-muted">
            <ul class="gloss">
                {% for gloss in sense_list.split(' | ') %}
                <li>{{ gloss }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}


{% macro search_form() %}
	<form action="/lookup" role="form" class="form-inline search-form">
		{% if not query %}
			<img src="{{ url_for('static', filename='img/arrow.png') }}" style="height:60px; margin: 7px 5px -28px">
		{% endif %}
		<div class="form-group">
            <div class="form-group">
				<label class="sr-only" for="search-input">Search for term</label>
                <input type="search" name="query" class="typeahead form-control" value="{{ query or '' }}"
                    autofocus onFocus="this.select()" id="search-input"
                >
                <input type="hidden" name="index_name" value="{{from_lang}}-{{to_lang}}">
            </div>
        </div>
		<button class="btn btn-primary">Translate</button>
		{% if not query %}
			<div class="use-notice">
				Enter a word in {{ language_names[from_lang] }} or {{ language_names[to_lang] }}
			</div>
		{% endif %}
	</form>
{% endmacro %}


{% macro definition(lex_entry, lang) %}
	{% if lex_entry %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ lex_entry.written }} ({{ language_names[lang] }})</h3>
			</div>
			<div class="panel-body">
				<ol>
					{% for s in lex_entry.senses if s.sense %}
					<li>{{ s.sense }}</li>
					{% endfor %}
				</ol>
			</div>
		</div>
	{% endif %}
{% endmacro %}


{% block main %}

	{% if query %}
		{{ search_form() }}

		<div id="results">
			{% for results_one_dir in results %}
				{% if not results_one_dir %}
					{% continue %}
				{% endif %}
				{% with %}
				{% if loop.index == 1 %}
					{% set (left_lang, right_lang) = (from_lang, to_lang) %}
				{% elif loop.index == 2 %}
					{% set (left_lang, right_lang) = (to_lang, from_lang) %}
				{% endif %}
				<table class="table table-striped">
					<thead>
                        <tr>
                            <th>{{ language_names[left_lang] | capitalize }}</th>
                            <th>{{ language_names[right_lang] | capitalize }}</th>
                        <tr>
					</thead>
					{% for result in results_one_dir %}
						<tr>
							<td>{{ show_word(result.written_rep, left_lang, result.part_of_speech, result.sense_list,
                                             lexentry=result.lexentry) }}</td>
							<td>
								{% for t in result.trans_list.split(' | ') %}
									{{ show_word(t, right_lang, result.part_of_speech) }}
                                    <br>
								{% endfor %}
							</td>
						</tr>
					{% endfor %}
				</table>
				{% endwith %}
			{% else %}
				<div class="jumbotron">
					<p>Sorry, no translations for "{{ query }}" have been found.</p>
				</div>
			{% endfor %}

			{{ definition(results[2], from_lang) }}
			{{ definition(results[3], to_lang) }}
		</div>

	{% else %}

		<div class="main-page">
			<div class="search-block">
				<h2>Look up translations — free, libre and simple</h2>
				{{ search_form() }}
			</div>

			<h3>Other available Language Pairs</h3>
			<div class="row">
				{% for lang in available_langs %}
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
						<select class="form-control lang-select">
							<option> &nbsp; {{ language_names[lang] | capitalize }} ↔ &hellip;</option>
							{% for to_lang in available_langs if lang != to_lang %}
								<option value="{{ lang }}-{{ to_lang }}">{{ language_names[lang] | capitalize }} ↔ {{ language_names[to_lang] | capitalize }}</option>
							{% endfor %}
						</select>
					</div>
				{% endfor %}
			</div>

			<div id="add-search-provider-block">
				<h3>Tools</h3>
				<div class="row clearfix">
					<div class="col-md-6">
						<div class="list-group">
							<a id="add-search-provider" class="list-group-item">Add "WikDict: {{from_lang}} ↔ {{to_lang}}" search to your browser</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	{% endif %}

{% endblock %}

