{% extends 'base.html' %}

{% block title -%}
	WikDict{% if query %} &mdash; {{ query }}{% endif %}
{%- endblock %}

{% block css_links %}
    <link href='https://fonts.googleapis.com/css?family=Parisienne&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
{% endblock %}

{% block head %}
	<link rel="search"
		type="application/opensearchdescription+xml" 
		href="/opensearch/{{from_lang}}-{{to_lang}}"
		title="WikDict {{from_lang}}-{{to_lang}} Search" />
    <!--script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.jquery.min.js"></script-->
    <script src="{{ url_for('static', filename='js/typeahead.jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lookup.js') }}"></script>

    <!-- hellotraffic view tracking -->
    <script src="https://inter.rtb-cdn.net/vt.js"></script>
	{% if query and (results[0] or results[1]) %}
        <!-- hellotraffic conversion tracking -->
        <script src="https://inter.rtb-cdn.net/ct.js"></script>
	{% endif %}

	<!-- robotdetect tracking-->
    <script type="text/javascript">
        try{!function(t,e,r){var n=1*new Date,o=e.createElement("script");o.type="text/javascript",o.async=!0,o.src=("https:"==e.location.protocol?"https://":"http://")+"rd.rtb-cdn.net/a/WyJhZHNwZXJ0IiwidGVzdDIiXQ.ileEueZ5mzT7CeBl7At2jLSvwtE/c.js?dt="+n+"&ref="+r(e.referrer)+"&loc="+r(e.location);var c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(o,c)}(window,document,encodeURIComponent)}finally{}
    </script>

	<script>
        var from_lang = '{{ from_lang }}';
        var to_lang = '{{ to_lang }}';
	</script>
{% endblock %}

{% macro optional_link(url) %}
	{%- if url -%}
		<a href="{{url}}">{{ caller() }}</a>
	{%- else -%}
        {{ caller() }}
	{%- endif -%}
{% endmacro %}

{% macro show_word(vocable, lang, part_of_speech, sense_list=None, lexentry=None) %}
    {% if lexentry %}
        {% set voc = entry_details(vocable, lexentry, lang, from_lang, to_lang) %}
    {% else %}
        {% set voc = vocable_details(vocable, lang, part_of_speech or None, from_lang, to_lang) %}
    {% endif %}
    <span class="translation">
		{% call optional_link(voc.url) -%}
			{{ voc.display }}
			{%- if voc.display_addition %}
				({{ voc.display_addition }})
			{%- endif -%}
		{%- endcall -%}
        <span class="text-muted">
            {% if voc.gender %}
                <span class="gender">{{ '{' + voc.gender[0] + '}' }}</span>
            {% endif %}
            {% if voc.pronuns %}
                <span class="pronun">{{ voc.pronuns | join(', ') }}</span>
            {% endif %}
        </span>
	</span>
    {% if sense_list %}
        <div class="text-muted">
            <ul class="gloss">
                {% for gloss in sense_list.split(' | ') %}
                <li>{{ gloss }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}


{% macro search_form() %}
	<form action="/lookup" role="form" class="form-inline search-form">
		{% if not query %}
			<img src="{{ url_for('static', filename='img/arrow.png') }}" style="height:60px; margin: 7px 5px -28px">
		{% endif %}
		<div class="form-group">
            <label class="sr-only" for="search-input">Search for term</label>
            <input type="search" name="query" class="typeahead form-control" value="{{ query or '' }}"
                autofocus onFocus="this.select()" id="search-input"
            >
            <input type="hidden" name="index_name" value="{{from_lang}}-{{to_lang}}">
        </div>
		<button class="btn btn-primary">Translate</button>
		{% if not query %}
			<div class="use-notice">
				Enter a word in {{ language_names[from_lang] }} or {{ language_names[to_lang] }}
			</div>
		{% endif %}
	</form>
{% endmacro %}


{% macro definition(lex_entry, lang) %}
	{% if lex_entry %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{ lex_entry.written }} ({{ language_names[lang] }})</h3>
			</div>
			<div class="panel-body">
				<ol>
					{% for s in lex_entry.senses if s.sense %}
					<li>{{ s.sense }}</li>
					{% endfor %}
				</ol>
			</div>
		</div>
	{% endif %}
{% endmacro %}


{% block main %}

	{% if query %}
		{{ search_form() }}

        {% if did_you_mean %}
            <p class="did-you-mean">
                Did you mean:
                {% for word in did_you_mean %}
                    <a href="{{ url_for('lookup', from_lang=from_lang, to_lang=to_lang, query=word) }}">{{ word }}</a>
                    {%- if not loop.last %}, {% endif %}
                {% endfor%}
            </p>
        {% endif %}

        <div id="result-row" class="row">

            <div id="results" class="col-md-9">
                {% for results_one_dir in results %}
                    {% if not results_one_dir %}
                        {% continue %}
                    {% endif %}
                    {% with %}
                    {% if loop.index == 1 %}
                        {% set (left_lang, right_lang) = (from_lang, to_lang) %}
                    {% elif loop.index == 2 %}
                        {% set (left_lang, right_lang) = (to_lang, from_lang) %}
                    {% endif %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{ language_names[left_lang] | capitalize }}</th>
                                <th>{{ language_names[right_lang] | capitalize }}</th>
                            <tr>
                        </thead>
                        {% for result in results_one_dir %}
                            <tr>
                                <td>{{ show_word(result.written_rep, left_lang, result.part_of_speech, result.sense_list,
                                                 lexentry=result.lexentry) }}</td>
                                <td>
                                    {% for t in result.trans_list.split(' | ') %}
                                        {{ show_word(t, right_lang, result.part_of_speech) }}
                                        <br>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% endwith %}
                {% else %}
                    <div class="jumbotron">
                        <p>Sorry, no translations for "{{ query }}" have been found.</p>
                    </div>
                {% endfor %}

                {{ definition(results[2], from_lang) }}
                {{ definition(results[3], to_lang) }}
            </div>

            <div class="col-md-3">
                {% if wiktionary_links %}
                <div class="panel panel-default">
                    <div class="panel-heading">Wiktionary Links</div>
                    <div class="panel-body">
                        <ul>
                            {% for lang, items in wiktionary_links.items() if items %}
                            <li>
                                {{ language_names[lang] }}:
                                {% for q, link in items %}
                                    <a href="{{ link }}">{{ q }}</a>
                                    {%- if not loop.last %}, {% endif %}
                                {% endfor %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>

        </div>

	{% else %}

		<div class="main-page">
			<div class="search-block">
				<h2>Look up translations — free, libre and simple</h2>
				{{ search_form() }}
			</div>

			<h3>Other available Language Pairs</h3>
			<div class="row">
				{% for lang in available_langs %}
					<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
						<select class="form-control lang-select">
							<option> &nbsp; {{ language_names[lang] | capitalize }} ↔ &hellip;</option>
							{% for lp in lang_pairs if lang in (lp.lang1, lp.lang2) if lp.large_enough %}
								{% set to_lang = lp.lang1 if lp.lang1 != lang else lp.lang2 %}
								<option value="{{ lang }}-{{ to_lang }}">{{ language_names[lang] | capitalize }} ↔ {{ language_names[to_lang] | capitalize }}</option>
							{% endfor %}
						</select>
					</div>
				{% endfor %}
			</div>

            <div class="row">
                <div class="col-md-6">
                    <h3>What is WikDict?</h3>
                    <p>
                        WikDict provides free bilingual dictionaries and a simple, ad-free web interface to search them. <a href="/page/about">More&hellip;</a>
                    </p>

                    <p>
                        With more than {{ rough_translations }} million translations across {{ available_langs | length }} languages
                        it provides one of the largest data bases of free translations.
                    </p>
                </div>
                <div class="col-md-6" id="add-search-provider-block">
                    <h3>Tools</h3>
                    <div class="list-group">
                        <a id="add-search-provider" class="list-group-item">Add "WikDict: {{from_lang}} ↔ {{to_lang}}" search to your browser</a>
                    </div>
                </div>
            </div>
		</div>

	{% endif %}


{% endblock %}

