{% macro link(href) %}
    {% if href %}
        <a href="{{ href }}">{{ caller() }}</a>
    {% else %}
        {{ caller() }}
    {% endif %}
{% endmacro %}

{% macro table(rows, links={}) %}
    <table class="table">
        {% for col_name in rows[0]._fields %}
        <th>{{ col_name }}</th>
        {% endfor %}
        {% for row in rows %}
        <tr>
            {% for cell in row %}
                {% with col_name = rows[0]._fields[loop.index0] %}
                    <td>{% call link(links[col_name].format(**row._asdict()) if links[col_name])%}{{ cell }}{% endcall%}</td>
                {% endwith%}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endmacro %}