{% extends 'base.html' %}

{% block title -%}
    {% if query %}
        {{ query }} &ndash; {{ language_names[from_lang] }}-{{ language_names[to_lang] }} Translations in WikDict
    {% else %}
        {{ language_names[from_lang] }}-{{ language_names[to_lang] }} WikDict Dictionary
    {% endif %}
{%- endblock %}

{% block css_links %}
    <link href='https://fonts.googleapis.com/css?family=Parisienne&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
{% endblock %}

{% block head %}
	<link rel="search"
		type="application/opensearchdescription+xml" 
		href="/opensearch/{{from_lang}}-{{to_lang}}"
		title="WikDict {{from_lang}}-{{to_lang}} Search" />
    <link rel="canonical" href="https://www.wikdict.com/{{from_lang}}-{{to_lang}}/{{query or ''}}">
    {% if description %}<meta name=”description” content="{{ description }}">{% endif %}
{% endblock %}

{% block scripts %}

    <script>
        var from_lang = '{{ from_lang }}';
        var to_lang = '{{ to_lang }}';
	</script>

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "https://www.wikdict.com/{{ from_lang }}-{{ to_lang }}/",
          "name": "{{ language_names[from_lang] }}-{{ language_names[to_lang] }}"
        }
      }
      {% if query %}
      ,{
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "https://www.wikdict.com/{{ from_lang }}-{{ to_lang }}/{{ query }}",
          "name": "{{ query }}"
        }
      }
      {% endif %}
      ]
    }
    </script>
{% endblock %}

{% macro optional_link(url) %}
	{%- if url -%}
		<a href="{{url}}">{{ caller() }}</a>
	{%- else -%}
        {{ caller() }}
	{%- endif -%}
{% endmacro %}


{% macro search_form() %}
    <div class="container">
	<form action="/lookup" class="search-form">
        <input type="hidden" name="index_name" value="{{from_lang}}-{{to_lang}}">
        <div class="input-group">
            <input type="search" name="query" class="typeahead form-control" value="{{ query or '' }}"
                id="search-input"
            >
            <button class="btn btn-primary">Translate</button>
        </div>
		{% if not query %}
			<div class="use-notice">
				Enter a word in {{ languages[from_lang].label_en }} or {{ languages[to_lang].label_en }}
			</div>
		{% endif %}
	</form>
    </div>
{% endmacro %}


{% macro definition(lex_entry, lang) %}
	{% if lex_entry %}
		<div class="card">
			<div class="card-header">
				{{ lex_entry.written }} ({{ language_names[lang] }})
			</div>
			<div class="card-body">
				<ol>
					{% for s in lex_entry.senses if s.sense %}
					<li>{{ s.sense }}</li>
					{% endfor %}
				</ol>
			</div>
		</div>
	{% endif %}
{% endmacro %}


{% macro results_one_dir(results) %}
{% if results %}
<div class="lang-result">
	<h2 class="text-muted">
		<span>{{ languages[results.from_lang].flag }} {{ results.from_lang }}</span>
		<span>{{ results.to_lang }} {{ languages[results.to_lang].flag }}</span>
	</h2>
    {% for lexentry in results['definitions'] %}
        <table class="lexentry table table-striped">
			<thead>
			<tr>
				<th colspan="2">
					<h3>
						{{ lexentry.written_rep }}
						<small class="text-muted">
							{{ lexentry.part_of_speech if lexentry.part_of_speech}}
							{{ "{" + format_gender(lexentry.gender) + "}" if lexentry.gender }}
						</small>
					</h3>
					<div class="text-muted forms">
						{{ lexentry.forms | join(', ') if lexentry.forms }}
						{% if lexentry.pronuns %}
							&nbsp;
							{% for p in lexentry.pronuns %}
								{{ format_pronun(p) }}
								{{ ',' if not loop.last }}
							{% endfor%}
						{% endif %}
					</div>
				</th>
			</tr>
			</thead>
			{% for sg in lexentry["sense_groups"] %}
				<tr class="sense-groups">
					<td>
						{% if sg['senses'] %}
							<ul class="gloss text-muted">
								{% for sense in sg['senses'] %}
									<li>{{sense}}</li>
								{% endfor %}
							</ul>
						{% endif %}
					</td>
					<td>
						{% for trans in sg['translations'] %}
							{#-
								TODO: should we check for the existance of the link target?
								If we don't want that, we can use a plain <a> instead of optional_link.
							#}
							{% call optional_link(trans) %}{{ trans }}{% endcall -%}
							{{- ',' if not loop.last -}}
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
        </table>
    {% endfor %}

    {% if results['idioms'] %}
        <dl class="row">
        {% for idiom in results['idioms'] %}
            <dt class="col-sm-3"><a class="text-indent" href="{{ idiom.written_rep }}">{{ idiom.written_rep }}</a></dt>
            <dd class="col-sm-9">
                {% for trans in idiom.translations %}
                    {% call optional_link(trans) %}{{ trans }}{% endcall -%}
                    {{- ',' if not loop.last -}}
                {% endfor %}
            </dd>
        {% endfor %}
        </dl>
    {% endif %}
</div>
{% endif %}
{% endmacro %}

{% block main %}

	{% if query %}
		{{ search_form() }}

        {% if did_you_mean %}
            <p class="did-you-mean">
                Did you mean:
                {% for word in did_you_mean %}
                    <a href="{{ url_for('lookup', from_lang=from_lang, to_lang=to_lang, query=word) }}">{{ word }}</a>
                    {%- if not loop.last %}, {% endif %}
                {% endfor%}
            </p>
        {% endif %}

        <div id="result-row" class="row">

            <div id="results" class="col-md-9">
                {% for lang_result in results %}
                    {{ results_one_dir(lang_result) }}
                {% endfor %}
                {% if not results[0] and not results[1] %}
                    <div class="jumbotron">
                        <p>Sorry, no translations for "{{ query }}" have been found.</p>
                    </div>
                {% endif %}

                {#{ definition(results[2], from_lang) }#}
                {#{ definition(results[3], to_lang) }#}
            </div>

            <div class="col-md-3">
                {% if wiktionary_links %}
                <div class="card">
                    <div class="card-header">Wiktionary Links</div>
                    <ul class="list-group list-group-flush">
                        {% for lang, items in wiktionary_links.items() if items %}
                        <li class="list-group-item">
                            {{ language_names[lang] }}:
                            {% for q, link in items %}
                                <a href="{{ link }}">{{ q }}</a>
                                {%- if not loop.last %}, {% endif %}
                            {% endfor %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>

        </div>

	{% else %}

		<div class="main-page">
			<div class="bg-light rounded-3">
			<div class="search-block">
				<h2>Look up translations — free, libre and simple</h2>
				{{ search_form() }}
			</div>
			</div>

            <div>
                <h3>Other available Language Pairs</h3>
                <div class="row">
                    {% for lang in available_langs %}
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                            <select class="form-control lang-select">
                                <option> &nbsp; {{ language_names[lang] | capitalize }} ↔ &hellip;</option>
                                {% for lp in lang_pairs if lang in (lp.lang1, lp.lang2) and lp.large_enough %}
                                    {% set to_lang = lp.lang1 if lp.lang1 != lang else lp.lang2 %}
                                    <option value="{{ lang }}-{{ to_lang }}">{{ language_names[lang] | capitalize }} ↔ {{ language_names[to_lang] | capitalize }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h3>What is WikDict?</h3>
                    <p>
                        WikDict provides free bilingual dictionaries and a simple, ad-free web interface to search them. <a href="/page/about">More&hellip;</a>
                    </p>
                    <p>
                        With more than {{ rough_translations }} million translations across {{ available_langs | length }} languages
                        it provides one of the largest data bases of free translations.
                    </p>
                </div>

                <div class="col-md-6">
                    <h3>What makes WikDict different?</h3>
                    <p>
                        WikDict is free and open in every imaginable way. The source code for the data generation and the web interface, as well as the resulting data can be inspected, modified and redistributed by any interested party.
                    </p>
                    <p>
                        You can also use WikDict offline with a dictionary application of your choice. See <a href="/page/download">downloads</a> for the available formats.
                    </p>
                </div>
            </div>
		</div>

	{% endif %}


{% endblock %}

